.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}

/* Lemonish */

/* Nav bar links */
.nav-link {
    color: rgba(0,0,0,0.75);
}
.nav-link:hover {
    color: rgba(0,0,0,1);
    text-decoration: underline;
}

/* Article block */
.container {
    max-width: 1680px;
}

/* Column left of article block */
.col-md-2 {
    max-width: 15%;
}

code {
    color: #00ab6b;
}