

/* Lemonish */

/* Nav bar links */
.nav-link {
    color: rgba(0,0,0,0.75);
}
.nav-link:hover {
    color: rgba(0,0,0,1);
    text-decoration: underline;
}

/* Article block */
.container {
    max-width: 1680px;
}

/* Column left of article block */
.col-md-2 {
    max-width: 15%;
}

code {
    color: #00ab6b;
}